%example-grid {
	@include grid-container();

	position: relative;

	padding: gutter-value();
	border: 3px solid red;

	&:before {
		content: '';

		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		background-size: cover;
		background-position: center center;
		@include attributes-for-breakpoints((
			'background-color' : $GRID_CONTAINER_BACKGROUNDCOLOR,
			'background-image' : $GRID_CONTAINER_BACKGROUNDIMAGE
		));

		filter: saturate(150%) brightness(38%);
	}

	@include breakpoint(medium){
		padding: gutter-value();
	}

	@include breakpoint(large){
		padding: gutter-value($breakpoint:large);
	}



	> div,
	> div > div {
		display: flex;
		justify-content: center;
		align-items: center;

		position: relative;

		border: 3px solid dodgerblue;

		color: white;
		font-size: base-font-size-value() * 1.5;
		text-shadow: 1px -1px 3px black, 1px 1px 3px black, -1px 1px 3px black, -1px -1px 3px black;

		background-size: cover;
		background-position: center center;
		background-color: dodgerblue;

		filter: grayscale(50%) hue-rotate(-10deg) saturate(200%);

		&:nth-of-type(1){
			background-image: url('../files/img/block-1.jpg');
		}

		&:nth-of-type(2){
			background-image: url('../files/img/block-2.jpg');
		}

		&:nth-of-type(3){
			background-image: url('../files/img/block-3.jpg');
		}

		&:nth-of-type(4){
			background-image: url('../files/img/block-4.jpg');
		}

		&:nth-of-type(5){
			background-image: url('../files/img/block-5.jpg');
		}
	}



	&:hover {
		&:before,
		> div,
		> div > div {
			border-color: lightskyblue;

			background-image: none !important;

			filter: none !important;
		}

		> div > div {
			filter: invert(100%) !important;
		}
	}
}



#basic-grid-example {
	.examples > .scss-legacy {
		@include content-holder($centered:true);



		> .grid {
			@extend %example-grid;



			> div {
				&:nth-of-type(odd){
					@include grid-item(6);

					height: 100px;
				}

				&:nth-of-type(even){
					@include grid-item(6);

					height: 75px;
				}
			}



			@include breakpoint(medium up){
				> div {
					&:nth-of-type(1){
						@include grid-item(4);

						height: 100px;
					}

					&:nth-of-type(2){
						@include grid-item(4);

						height: 80px;
					}

					&:nth-of-type(3){
						@include grid-item(4);

						height: 60px;
					}

					&:nth-of-type(4){
						@include grid-item(4);

						height: 40px;
					}

					&:nth-of-type(5){
						@include grid-item(4);

						height: 20px;
					}
				}
			}



			@include breakpoint(medium down){
				> div {
					&:nth-of-type(3){
						border-color: aqua;

						background-color: aqua;
						background-image: url('../files/img/block-6.jpg');
					}
				}
			}



			@include breakpoint(large){
				> div {
					&:nth-of-type(1){
						@include grid-item();

						height: 25vh;
					}

					&:nth-of-type(2){
						@include grid-item(6);

						height: 12.5vh;
					}

					&:nth-of-type(3){
						@include grid-item(6);
						@include grid-item-align($vertical:bottom);

						height: 10vh;
					}

					&:nth-of-type(4){
						@include grid-item(4);
						@include grid-item-align(center, center);
						order: 2;

						width: 100px;
						height: 5vh;
					}

					&:nth-of-type(5){
						@include grid-item(4);
						order: 1;

						height: 10vh;
					}
				}
			}
		}
	}
}



#advanced-grid-example {
	.examples > .scss-legacy {
		@include content-holder($centered:true);



		> .grid {
			@extend %example-grid;

			@include spacing-based-attribute(padding-top, 'xxl');



			> div {
				&:nth-of-type(odd){
					@include grid-item(4);
					@include grid-item-align(null, end);

					height: gutter-value($direction:'vertical') * 2.5;
				}

				&:nth-of-type(even){
					@include grid-item(4);

					height: 75px;
				}

				&:first-of-type {
					@include grid-item($span:4, $row-span:2);
					@include grid-item-align($vertical:full);

					height: auto;
				}
			}



			@include breakpoint(xsmall only){
				> div {
					&:nth-of-type(3){
						border-color: aqua;

						background-color: aqua;
						background-image: url('../files/img/block-6.jpg');
					}
				}
			}



			@include breakpoint(medium){
				> div {
					&:nth-of-type(1){
						@include grid-item(4);
						order: 5;

						width: 50%;
						height: gutter-value() * 3;
					}

					&:nth-of-type(2){
						@include grid-item($start:8, $end:12);
						order: 4;

						height: 80px;
					}

					&:nth-of-type(3){
						@include grid-item($start:6, $span:2);
						@include grid-item-align(full, center);
						order: 3;

						height: 60px;
					}

					&:nth-of-type(4){
						@include grid-item(8, $row-start:1, $row-end:3);
						@include grid-item-align('right', $vertical:'full');
						order: 2;

						width: 50%;
						height: auto;
					}

					&:nth-of-type(5){
						@include grid-item(4);
						@include grid-item-align(left, top);
						order: 1;
						z-index: 1;

						width: 200%;
						height: 55px;

						border-color: red;

						background-color: red;
						background-image: url('../files/img/block-7.jpg');

						transform: rotate(10deg);
					}
				}
			}



			@include breakpoint(large){
				> div {
					&:nth-of-type(1){
						@include grid-item($start:0, $span:4, $row-start:0, $row-span:1);
						@include grid-item-align($vertical:full);
						order: 1;

						width: auto;
						height: 10vh;
					}

					&:nth-of-type(2){
						@include grid-item($start:4, $end:8, $row-start:0, $row-span:2);
						@include grid-item-align($vertical:full);
						order: 2;

						height: auto;
					}

					&:nth-of-type(3){
						@include grid-item($start:8, $span:4, $row-start:0, $row-span:3);
						@include grid-item-align($vertical:full);
						order: 3;

						height: auto;
					}

					&:nth-of-type(4){
						@include grid-item($start:0, $span:4, $row-start:1, $row-end:2);
						@include grid-item-align(right, center);
						order: 4;

						width: 100px;
						height: 10vh;
					}

					&:nth-of-type(5){
						@include grid-item(6);
						@include grid-item-align(stretch);
						order: 5;

						width: auto;
						height: 20vh;

						border-color: dodgerblue;

						background-color: dodgerblue;
						background-image: url('../files/img/block-8.jpg');

						transform: rotate(0deg);
					}
				}
			}
		}
	}
}



#real-world-grid-example {
	.examples > .scss-legacy {
		@include content-holder($centered:true);



		> .grid {
			@extend %example-grid;



			> div {
				&:nth-of-type(1){
					&:before {
						content: 'Stage';
					}

					@include grid-item(12);
					order: 1;

					@include spacing-based-attribute('height', 'xxl', 3.0);

					margin: gutter-value() * -1;
					margin-bottom: 0;

					@include breakpoint(medium){
						margin: gutter-value() * -1;
						margin-bottom: gutter-value($direction:vertical) * -3;
					}

					@include breakpoint(large){
						margin: gutter-value() * -1;
						margin-bottom: gutter-value($direction:vertical) * -3;
					}
				}



				&:nth-of-type(2){
					&:before {
						content: 'Navbar';
					}

					@include grid-item(12);
					order: 2;

					@include breakpoint(medium){
						@include grid-item(4, $row-span:2);
						order: 3;
					}

					@include breakpoint(large){
						@include grid-item(3);
					}
				}


				&:nth-of-type(3){
					@include grid-item();
					order: 2;

					@include grid-container();

					> div {
						&:nth-of-type(1){
							&:before {
								content: 'Text';
							}

							@include grid-item(12);

							height: spacing-value('md') * 10;
						}

						&:nth-of-type(2),
						&:nth-of-type(3),
						&:nth-of-type(4){
							&:before {
								content: 'Teaser';
							}

							@include grid-item(12);

							height: 100px;
						}

						&:nth-of-type(3),
						&:nth-of-type(4){
							margin-top: gutter-value($direction:vertical) * -1;
						}
					}



					@include breakpoint(medium){
						@include grid-item($start:0, $span:8);

						> div {
							&:nth-of-type(1){
								height: spacing-value('md') * 7;
							}

							&:nth-of-type(2),
							&:nth-of-type(3),
							&:nth-of-type(4){
								@include grid-item(4);

								height: 75px;
							}

							&:nth-of-type(3),
							&:nth-of-type(4){
								margin-top: 0;
							}
						}
					}



					@include breakpoint(large){
						@include grid-item(9);

						> div {
							&:nth-of-type(1){
								height: spacing-value('md') * 5;
							}

							&:nth-of-type(2),
							&:nth-of-type(3),
							&:nth-of-type(4){
								height: auto;
							}
						}
					}
				}



				&:nth-of-type(4){
					&:before {
						content: 'Hint';
					}

					@include grid-item($start:1, $end:11);
					order: 4;

					margin-top: gutter-value($direction:'vertical') * -0.5;

					@include breakpoint(medium){
						@include grid-item(8, $start:0);
					}

					@include breakpoint(large){
						@include grid-item($start:3, $span:6);
					}
				}



				&:nth-of-type(5){
					&:before {
						content: 'Footer';
					}

					@include grid-item(12);
					order: 5;

					@include spacing-based-attributes((
						'padding-top' : 'md',
						'padding-bottom' : 'xl'
					));
					margin: gutter-value() * -1;
					margin-top: gutter-value($direction:vertical);

					@include breakpoint(medium){
						margin: gutter-value() * -1;
						margin-top: gutter-value($direction:vertical) * 2;
					}

					@include breakpoint(large){
						margin: gutter-value() * -1;
						margin-top: gutter-value($direction:vertical) * 2.5;
					}
				}
			}
		}
	}
}
