@import 'https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';



header nav {
	margin-bottom: 2rem;
}

header > img {
	display: block;

	margin: 0 auto;
}



html, body {
	font-size: 14px;
}



body {
	padding: 2rem 4rem;
}



p em {
	font-weight: bold;
	font-style: normal;
}



a {
	cursor: pointer;
}



img {
	max-width: 100%;
}



section a {
	cursor: pointer;
}

section a:hover {
	color: deepskyblue;
}



section pre code {
	border: 1px solid lightblue;
}
